body{
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    font-family: arial, sans-serif;
}
.container
{
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0 0 0 0.1);
}
h1
{
    text-align: center;
    color: #333;
}
.todo-input
{
    display: flex;
    margin-bottom: 20px;
}
input[type = "text"]
{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
ul
{
    list-style-type: none;
    padding: 0;
}
#todoList li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }